/*
Colors used:
Soft Black: #252525
Faded Denim: #798EA4
Ice Flow: #C5D2D3
Iceberg Green: #8C9C92
Pearl Blush: #F3D1C8 */
/* General and text stylings */
html, body {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #252525;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 22px;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}

/* Header stylings */
header {
  height: 129px;
  z-index: 3;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  margin: 0 auto;
}

.header-container {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1401px;
  margin: 0 auto;
  height: 100%;
}

.main-logo {
  display: inline-block;
  float: left;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-logo-sm {
  display: none;
}

.hamburger {
  display: none;
}

nav {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  float: right;
}

nav>ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

nav>ul>li {
  display: inline-block;
  padding-left: 40px;
}

nav>ul>li>a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #252525;
  background-color: white;
  letter-spacing: -0.5px;
  border-bottom-style: hidden;
}

nav>ul>li>a:hover {
  border-bottom-width: 0.25em;
  border-bottom-style: solid;
}

nav>ul>li:last-child>a {
  background-color: #798EA4;
  color: white;
  border-radius: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 32px;
  padding-right: 32px;
}

nav>ul>li:last-child>a:hover {
  background-color: #252525;
}

#myLinks {
  display: none;
}

.links {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  background-color: white;
  letter-spacing: -0.5px;
  border-bottom-width: 0.25em;
  border-bottom-style: hidden;
  padding-bottom: 0.25em;
}

.links:hover {
  border-bottom-style: solid;
  padding-bottom: 0px;
}

/* Main stylings */
main {
  padding-top: 129px;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
}

input {
  font-size: 20px;
  margin: 0 auto;
  -webkit-appearance: none;
  display: table;
  background-color: white;
  color: #252525;
  width: 300px;
  height: 40px;
  border: 3px solid #252525;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
}

#name-input, #message-input {
  color: rgba(37, 37, 37, 0.5);
  border-radius: 0px;
  text-align: left;
  border: 1px solid rgba(37, 37, 37, 0.5);
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
}

#name-input {
  margin-top: 91px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#message-input {
  margin-top: 10px;
  padding-top: 10px;
}

#submit {
  margin-top: 32px;
  margin-bottom: 91px;
  height: 60px;
}

#success, #fail {
  display: none;
}

.black-button {
  background-color: #252525;
  color: white;
  border-radius: 30px;
  padding: 13px 32px 13px 32px;
  border-color: #252525;
}

/* Home Page stylings */
.hero {
  background-color: #C5D2D3;
}

.hero-container {
  max-width: 1401px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-text {
  float: left;
  padding-left: 80px;
  display: block;
  width: 40%;
}

.hero-image {
  float: left;
  display: block;
  padding-left: 80px;
  width: 60%;
  line-height: 0;
}

.main-button {
  background-color: #798EA4;
  color: white;
  border-radius: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  font-weight: 500;
}

.main-button:hover {
  background-color: #252525;
}

.quote {
  background-image: url(../img/light-pattern.png);
  height: 550px;
}

.quote-text {
  padding-top: 140px;
  padding-bottom: 100px;
  text-align: center;
  max-width: 1401px;
  margin: 0 auto;
}

.quote-text>h3 {
  padding-left: 160px;
  padding-right: 160px;
}

/* FAQ Page Stylings */
.faq-container {
  max-width: 1401px;
  margin: 0 auto;
  padding: 91px;
  text-align: left;
}

.faq-container>p>a {
  color: #252525;
}

/* Contact Page Stylings */
.contact-container {
  max-width: 1401px;
  margin: 0 auto;
  padding-top: 91px;
  padding-left: 91px;
  padding-right: 91px;
}

.contact-left, .contact-right {
  padding-left: 91px;
  padding-right: 91px;
  margin: auto;
  width: 50%;
}

.contact-circle {
  display: flex;
  width: 100%;
  height: 59px;
}

.contact-circle>a>h2, .contact-circle>h2 {
  padding-left: 16px;
  height: 100%;
  margin-block-end: 0;
  margin-block-start: 8px;
}

.contact-circle>h2 {
  margin-block-start: 0px;
}

/* About Page Stylings */
.about-container {
  max-width: 1401px;
  margin: 0 auto;
  padding: 91px;
}

.about-image {
  float: left;
  display: inline-block;
}

.about-text {
  float: left;
  display: inline-block;
  width: 48%;
  padding-left: 40px;
}

.work-container {
  padding: 91px;
  max-width: 1401px;
  margin: 0 auto;
  text-align: left;
}

/* Footer Stylings */
footer {
  height: 365px;
  background-color: #252525;
  color: white;
  width: 100%;
  bottom: 0px;
  margin: 0 auto;
}

.footer-container {
  padding-left: 140px;
  padding-right: 140px;
  height: 100%;
  max-width: 1401px;
  margin: 0 auto;
}

.copyright, .footer-icons, .footer-logo {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.footer-logo {
  margin: 0 auto;
  padding-top: 97px;
  padding-bottom: 97px;
}

.copyright {
  float: left;
  padding-top: 137px;
  padding-bottom: 138px;
}

.footer-icons {
  float: right;
  padding-top: 161px;
  padding-bottom: 161px;
  display: flex;
  justify-content: space-evenly;
}

/* Override: On screens that are 1410px or less */
@media screen and (max-width: 1410px) {
  .about-container, .faq-container, .contact-container, .work-container {
    padding: 40px;
  }
}

/* Override: On screens that are 1355px or less */
@media screen and (max-width: 1355px) {
  .break {
    display: none;
  }
}

/* Override: On screens that are 1308px or less */
@media screen and (max-width: 1308px) {
  .about-text br {
    content: ' ';
  }
}

/* Override: On screens that are 1263px or less */
@media screen and (max-width: 1263px) {
  nav>ul>li {
    padding-left: 24px;
  }

  .quote-text {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Override: On screens that are 1170px wide or less */
@media screen and (max-width: 1170px) {
  nav>ul>li:first-child {
    padding-left:0px;
  }
  .about-container {
    display: none !important;
  }
  .about-container-sm {
    display: block !important;
  }
  .about-container-sm > p {
    margin-left: 40px;
    margin-right: 40px;
  }
  .last-paragraph {
    padding-bottom: 40px;
    margin-bottom: 0;
  }
}

/* Override: On screens that are 1150px wide or less */
@media screen and (max-width: 1150px) {
  .copyright {
    font-size: 0.8em;
  }

  .footer-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .hero-text {
    padding-left: 60px;
    width: 50%;
  }

  .hero-image {
    padding-left: 60px;
    width: 60%;
  }

  .blue-box>h2 {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }

  .blue-box>svg {
    padding-top: 140px !important;
  }

  nav>ul>li>a {
    font-size: 16px;
  }

  nav>ul>li:first-child>a {
    padding-left: 0px;
  }

  nav>ul>li:last-child>a {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .main-logo>svg {
    width: 200px;
  }
}

/* Override: On screens that are 1024px wide or less */
@media screen and (max-width: 1024px) {
  .main-logo-sm {
    display: inline-block;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .main-logo {
    display: none;
  }

  .quote-text {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .blue-box>h2 {
    padding-left: 130px !important;
    padding-right: 130px !important;
  }

  .quote {
    height: 100%;
  }

  .quote-text>h3 {
    font-size: 24px;
  }
  .contact-left, .contact-right {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Override: On screens that are 936px wide or less */
@media screen and (max-width: 936px) {
.hero-text, .hero-image {
  display: block;
  float: none;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 20px;
}
.blue-box>h2 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.main-button {
  padding-left: 24px;
  padding-right: 24px;
}
.about-container-sm > picture > img {
  width: 500px;
  height: auto;
}
}

/* Override: On screens that are 914px wide or less */
@media screen and (max-width: 914px) {
  nav>ul>li:last-child>a {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
  }
  nav>ul>li {
    padding-left: 30px;
  }
  .footer-container {
    padding-left: 18px;
    padding-right: 18px;
  }
  .hero-image {
    display: block;
    padding-left: 40px;
  }
  .hero-text {
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    display: block;
    text-align: left;
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  .hero-image {
    width: 500px;
    padding: 0px;
  }
}

/* Override: On screens that are 854px wide or less */
@media screen and (max-width: 854px) {
  .hamburger {
    display: inline-block !important;
    padding-top: 54px;
    padding-bottom: 30px;
    float: right;
  }
  nav {
    display: none;
  }
  .main-logo-sm {
    display: none;
  }
  .main-logo {
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .hero-container {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 40px;
    height: 100% !important;
  }
  .cta_button {
    background-color: #798EA4;
    color: white;
    border-radius: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -0.5px;
    align-items: center;
  }
  .cta_button:hover {
    opacity: 0.6;
  }
  .links {
    color: #252525;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -0.5px;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    padding-top: 8px;
  }
  #myLinks {
    background-color: white;
    padding-bottom: 24px;
    margin-top: 129px;
    padding-right: 24px;
    padding-left: 24px;
    position: absolute;
    right: 0;
    z-index: 2;
  }
  .last-link {
    margin-bottom: 24px;
  }
  .header-container {
    height: auto;
  }
  .footer-logo, .footer-icons, .copyright {
    transform: scale(0.70);
  }
  .how-it-works-img > img {
    height: 400px;
  }
  .blue-box {
    height: 400px !important;
  }
  .blue-box > svg {
    padding-top: 60px !important;
  }
  .blue-box > h2 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .hero-text {
    width: 100%;
    text-align: center;
    padding-left: 0px;
  }
  .about-container-sm > picture > img {
    width: 400px;
    height: auto;
  }
}

/* Override: On screens that are 800px wide or less */
@media screen and (max-width: 800px) {
  .footer-logo, .footer-icons {
    display: block;
    float: none;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto;
  }
  .footer-icons {
    display: flex;
    justify-content: space-evenly;
  }
  .copyright {
    display: none;
  }
  footer {
    height: 300px;
  }
  .faq-container {
    padding: 40px;
  }
  .quote-text>h3 {
    padding-left: 100px;
    padding-right: 100px;
  }
  .blue-box, .how-it-works-img {
    float: none !important;
    width: 100% !important;
  }
  .how-it-works-img > img {
    width: 100%;
    height: 100%;
  }
  #package {
    display: flex;
    flex-direction: column;
  }
  #package > .how-it-works-img {
    order: 1;
  }
  #package > .blue-box {
    order: 2;
  }
  .about-container-sm {
    display: none !important;
  }
  .about-container-xs {
    display: block !important;
  }
  .about-container-xs > picture {
    height: 100% !important;
  }
  .about-container-xs > picture > img {
    object-fit: cover;
    width: 100%;
    height: 700px;
  }
}

/* Override: On screens that are 510px wide or less */
@media screen and (max-width: 510px) {
  .hero-image {
   width: 100%;
   object-fit: cover;
   object-position: bottom;
   height: auto;
  }
  .hero-image > img {
    width: 433px;
    height: auto;
  }
  .black-button {
    margin: 0 auto !important;
    display: block !important;
    margin-top: 20px !important;
  }
  .quote-text>h3 {
    padding-left: 50px !important;
    padding-right: 50px !important;
    font-size: 18px;
  }
  .quote-text {
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-container-sm > picture > img {
    width: 100%;
    height: auto;
  }
  .about-container-xs > picture > img {
    height: 450px;
}

/* Override: On screens that are 429px wide or less */
@media screen and (max-width: 429px) {
  .header-container, .faq-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hamburger, .faq-container {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .main-logo-sm {
    display: none;
  }

  .main-logo {
    display: inline-block;
    float: left;
    padding-top: 26px;
    padding-bottom: 16px;
  }

  footer {
    height: 265px;
  }

  .footer-logo {
    display: block;
  }

  .copyright, .footer-icons {
    float: none;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 16px;
  }

  .hero-container {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
    flex-direction: column;
  }

  .hero-image {
    padding-left: 0px;
    order: 1;
    width: 100%;
  }

  .hero-text {
    padding: 0px;
    width: 100%;
    order: 2;
  }

  .hero-image>img {
    width: 384px;
    height: 384px;
  }

  .main-button {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero-image {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  .blue-box {
    height: 350px !important;
  }
  .about-container-xs > picture > img {
    height: 400px;
  }
}
